<div class="col s12">
    <img src="../../../assets/images/Vector 2.png" style="height: 100%; width: 100%">
    <img src="../../../assets/images/My PetShop.png" style="height: 45px; width: 270px; position: absolute; left: 360px; top: 135px; z-index: 1;">
</div>

<div class="row center-align">
    <div class="col s5"></div>
        
    <div class="col s5"> 
        <div >
            <h6 style="font-size: 35px; color: #F1CBB1;"><b>Log in</b></h6>
        </div>
        <form class="col s12">            
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Username</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="con_vpn_key" type="tel" class="validate">
                <label for="con_vpn_key">Password</label>
              </div>            
        </form>      
    </div>


    <!-- <div >
        <h6 style="font-size: 35px; color: #F1CBB1;"><b>Log in</b></h6>
    </div>  
    <div class="col s5" style="background-color: #4DC1BF; border-radius: 20px; width: 340px; height: 190px; position: relative; left: 550px;">
        
        <div style="padding: inherit; margin-top: 5px;">
            <label style="float: left; font-weight: bold; color: #FEDA89; font-size: 17px;">Username</label>
            <input type="text" style="margin-top: 10px; border-radius: 25px; background-color: white;">

            <label style="float: left; font-weight: bold; color: #FEDA89; font-size: 17px;">Password</label>
            <input type="text" style="margin-top: 10px; border-radius: 25px; background-color: white;">
        </div>
    </div> -->
</div>

<div class="col s12">
    <img src="../../../assets/images/Vector 11.png" style="height: 250px; width: 115px; position: absolute; left: 343px; top: 355px;">
    <img src="../../../assets/images/Vector 12.png" style="height: 220px; width: 110px; position: absolute; left: 475px; top: 425px;">
    <img src="../../../assets/images/Vector 3.png" style="height: 100%; width: 100%">
</div>

