<div class="col s12">
    <img src="../../../assets/images/Vector2.png" style="height: 100%; width: 100%" alt="">
    <img src="../../../assets/images/MyPetShop.png" alt="" style="height: 45px; width: 270px; position: absolute; left: 155px; top: 120px; z-index: 1;">
</div>

<div class="row center-align">
    <div class="col s5"></div>
        
    <div class="col s5"> 
        <div >
            <h6 style="font-size: 35px; color: #F1CBB1;"><b>Log in</b></h6>
        </div>
        <form class="col s12" [formGroup]="loginForm">            
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" formControlName="email" type="text" class="validate">
                <label for="icon_prefix">Username</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="con_vpn_key" formControlName="psw" type="password" class="validate">
                <label for="con_vpn_key">Password</label>
              </div> 
              <div class="row">
                <div class="col s12 m6"><a class="waves-effect waves-light btn" (click)="[signin()]"><i class="material-icons left">login</i>Ingresar</a></div>
                <div class="col s12 m6"><a class="waves-effect waves-light btn" (click)="[signup()]"><i class="material-icons left">person_add</i>Registrar</a></div>
              </div>           
        </form>      
    </div>
</div>

<div class="col s12">
    <img src="../../../assets/images/Vector11.png" style="height: 250px; width: 115px; position: absolute; left: 250px; top: 460px;" alt="">
    <img src="../../../assets/images/Vector12.png" style="height: 220px; width: 110px; position: absolute; left: 390px; top: 535px;" alt="">
    <img src="../../../assets/images/Vector3.png" style="height: 100%; width: 100%" alt="">
</div>

