<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg" alt="">
      </div>
      <a class="sidenav-close" routerLink="userprofile"><img class="circle" src="https://materializecss.com/images/yuna.jpg" alt=""></a>
      <a class="sidenav-close" routerLink="userprofile"><span class="white-text name">John Doe</span></a>
      <a class="sidenav-close" routerLink="userprofile"><span class="white-text email">{{correo}}</span></a>
    </div></li>
    <li><a class="sidenav-close" routerLink="petshop"><i class="material-icons">pets</i>PetShop</a></li>
    <li><a class="sidenav-close" routerLink="petadopter"><i class="material-icons">emoji_nature</i>Pet Adopter</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">USER</a></li>
    <li><a class="waves-effect sidenav-close" routerLink="userprofile">My Profile</a></li>
    <li><a class="show-on-small hide-on-large-only"(click)="[signout()]">Sign Out</a></li>
  </ul>
