<div class="header">
  <div class="card ">
    <h3 class="center">  
       Welcome to PetShop Section
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quod tempore, nam esse laborum quibusdam saepe ex totam nulla ea nisi veniam in. Totam nesciunt ad expedita quos aliquam eius!
    Eum iure voluptatibus velit voluptas eligendi earum atque, fugit culpa dolorum corrupti odit rerum ipsum fuga cum. Soluta, deleniti cupiditate dolore autem debitis fugit vitae in, impedit ducimus tempora minima.</p>
  </div>
  <div class="row">
    <div class="col s12 m4 l3" *ngFor="let product of products">
      <app-petshop-card [data]="product"></app-petshop-card>
    </div>
  </div>
</div>

    
