<div class="profile-content">
    <div class="profile-recent-items">
        <h3>Recently obtained</h3>
    
        <div class="profile-items-container">
            <div class="row">
                <div class="col s4 m4">
                    <div class="card small">
                        <div class="card-image">
                        <img src="../../../assets/images/cat-food.jpg">
                        <span class="card-title">Petshop product</span>
                        </div>
                        <div class="card-content">
                        <p>This is a sample description for the pet shop product.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card small">
                        <div class="card-image">
                        <img src="../../../assets/images/cat-food.jpg">
                        <span class="card-title">Petshop product</span>
                        </div>
                        <div class="card-content">
                        <p>This is a sample description for the pet shop product.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card small">
                        <div class="card-image">
                        <img src="../../../assets/images/cat-food.jpg">
                        <span class="card-title">Petshop product</span>
                        </div>
                        <div class="card-content">
                        <p>This is a sample description for the pet shop product.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card small">
                        <div class="card-image">
                        <img src="../../../assets/images/cat-food.jpg">
                        <span class="card-title">Petshop product</span>
                        </div>
                        <div class="card-content">
                        <p>This is a sample description for the pet shop product.</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="profile-recent-adoptions">
        <h3>Your adoptions</h3>
    
        <div class="profile-adoptions-container">
            <div class="row">
                <div class="col s4 m4">
                   pets go here
                </div>
            </div>
        </div>
    </div>    
</div>
