/* You can add global styles to this file, and also import other style files */

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .pet-shop-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }