/* You can add global styles to this file, and also import other style files */

  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
  }

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }




